<button type="submit" class="btn btn-primary w-100" disabled="@Disabled">
    @ChildContent
</button>

@code {

    [Parameter, EditorRequired] public bool Disabled { get; set; } = false;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }

}
