@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="text-decoration-none pointer-event" @onclick="Logout">Cerrar Sesion</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {


    private async Task Logout()
    {

        await LocalStorageService.RemoveItemLocalStorage("token");
        NavigationManager.NavigateTo("/auth/login");
    }


}
